@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lanbody {
  width: 100%;
  background: radial-gradient(
    88.23% 154.15% at 53.75% 66.85%,
    #382749 0%,
    #000000 100%
  );
  background-repeat: no-repeat;
}
.confet{
  width: 100%;
  height: 3000px;
  background: radial-gradient(
    88.23% 154.15% at 53.75% 66.85%,
    #382749 0%,
    #000000 100%
  );
  background-repeat: no-repeat;
  margin-top: -5%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 900px;
}
.cbtn{
  padding: 20px 40px;
  font-size: 24px; 
  font-weight: bolder;
  background-color: #2a0a4a; 
  color: #fff; 
  border: 2px solid white;
  cursor: pointer;
  border-radius: 6px;
}
.mascot {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin-bottom: -10%;
  margin-right: -5%;
  rotate: -10deg;
  animation: bounce 4s infinite;
  z-index: 1;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-40px);
  }
}

@media screen and (max-width: 600px) {
  .mascot img {
    width: 180px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .mascot img {
    width: 300px;
  }
}

@media screen and (min-width: 1201px) {
  .mascot img {
    width: 424px;
  }
}

nav {
  background: transparent;
  transition: background 0.3s;
}

/* Styling when scrolled */
nav.scrolled {
  background: red;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  color: #fff;
  border-radius: 10px;
}

.popup button {
  background-color: #c175ff;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  float: right;
  cursor: pointer;
  justify-content: right;
}

.lanbody .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 16px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 16px;
  margin-top: 40px;
  border-radius: 1px;
  transition: transform 0.2s;
}

.lanbody .tagline:hover {
  transform: translate(5px, 5px);
}